.user-infos svg {
  width: 150px;
  margin-bottom: 20px; }

.user-infos #sun-icon {
  animation-name: sunIconAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: 1; }

@keyframes sunIconAnimation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
