@import "../configs/colors.scss";

.navigation {
  width: 50%;
  height: 100vh;
  color: $whiteColor;
  font-family: Montserrat, arial, sans-serif;

  h1 {
    font-size: 4em;
  }

  .user-infos {
    text-align: center;
    font-weight: 300;
  }

  nav {
    border: 0px solid black;
    padding: 10px 0;

    ul li {
      margin: 15px 0;
      font-size: 1.2em;
      font-weight: 300;
      display: block;

      a {
        border: 0px solid red;
        transition: .2s;
      }

      .current-page-link {
        font-weight: 500;
      }
    }
  }
}