@import "../configs/colors.scss";
@import "../configs/shadows.scss";

.todolist {
  width: 50%;
  height: 100vh;
  z-index: 999;

  .list-container {
    margin: auto;
    width: 65%;
    max-height: 90vh;
    position: relative;

    .list {
      background-color: $whiteColor;
      border-radius: 5px;
      position: relative;
      height: 100%;
      z-index: 2;
      @include shadowsButton(0px, 2px, 5px, 0px, $blueColor);
      padding: 20px;

      h2 {
        font-family: Montserrat, arial, sans-serif;
        text-align: center;
        padding: 0 0 10px 0;
        color: $blueColor;
        font-size: 2em;
        font-weight: 600;
      }

      p {
        text-align: center;
        font-size: .9em;
        font-family: Montserrat, arial, sans-serif;
        color: $blueColor;
      }

      .filter-container {
        font-family: Montserrat, arial, sans-serif;
        padding: 20px 10px 15px 10px;
        font-size: .8em;

        li {
          padding: 5px 10px;
          text-align: center;
        }

        .filter-active {
          border: 1px solid $blueColor;
          border-radius: 5px;
        }
      }

      .add-task-container {

        margin-top: 20px;

        input {
          border: 0;
          height: 40px;
        }

        input:nth-child(1) {
          font-size: 1.3em;
          flex: 1;
          color: $blueColor;
        }

        ::placeholder {
          color: $blueColor;
          opacity: .6;
        }

        :-ms-input-placeholder {
          color: $blueColor;
          opacity: .6;
        }

        ::-ms-input-placeholder {
          color: $blueColor;
          opacity: .6;
        }

        input:nth-child(2) {
          font-size: 1em;
          background-color: $blueColor;
          padding: 0 20px;
          border-radius: 5px;
          color: $whiteColor;
          margin-left: 10px;
        }
      }
    }

    .sub-layers {
      position: absolute;
      height: 50px;
      background-color: $whiteColor;
      border-radius: 5px;
      @include shadowsButton(0px, 2px, 5px, 0px, $blueColor);
    }

    .sub-layer-1 {
      bottom: -4px;
      left: 3px;
      right: 3px;
      z-index: 1;
    }

    .sub-layer-2 {
      bottom: -8px;
      left: 6px;
      right: 6px;
    }
  }
}