.todolist {
  width: 50%;
  height: 100vh;
  z-index: 999; }
  .todolist .list-container {
    margin: auto;
    width: 65%;
    max-height: 90vh;
    position: relative; }
    .todolist .list-container .list {
      background-color: #ffffff;
      border-radius: 5px;
      position: relative;
      height: 100%;
      z-index: 2;
      -moz-box-shadow: 0px 2px 5px 0px #34495e;
      -webkit-box-shadow: 0px 2px 5px 0px #34495e;
      -o-box-shadow: 0px 2px 5px 0px #34495e;
      box-shadow: 0px 2px 5px 0px #34495e;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=180, Strength=5);
      padding: 20px; }
      .todolist .list-container .list h2 {
        font-family: Montserrat, arial, sans-serif;
        text-align: center;
        padding: 0 0 10px 0;
        color: #34495e;
        font-size: 2em;
        font-weight: 600; }
      .todolist .list-container .list p {
        text-align: center;
        font-size: .9em;
        font-family: Montserrat, arial, sans-serif;
        color: #34495e; }
      .todolist .list-container .list .filter-container {
        font-family: Montserrat, arial, sans-serif;
        padding: 20px 10px 15px 10px;
        font-size: .8em; }
        .todolist .list-container .list .filter-container li {
          padding: 5px 10px;
          text-align: center; }
        .todolist .list-container .list .filter-container .filter-active {
          border: 1px solid #34495e;
          border-radius: 5px; }
      .todolist .list-container .list .add-task-container {
        margin-top: 20px; }
        .todolist .list-container .list .add-task-container input {
          border: 0;
          height: 40px; }
        .todolist .list-container .list .add-task-container input:nth-child(1) {
          font-size: 1.3em;
          flex: 1;
          color: #34495e; }
        .todolist .list-container .list .add-task-container ::placeholder {
          color: #34495e;
          opacity: .6; }
        .todolist .list-container .list .add-task-container :-ms-input-placeholder {
          color: #34495e;
          opacity: .6; }
        .todolist .list-container .list .add-task-container ::-ms-input-placeholder {
          color: #34495e;
          opacity: .6; }
        .todolist .list-container .list .add-task-container input:nth-child(2) {
          font-size: 1em;
          background-color: #34495e;
          padding: 0 20px;
          border-radius: 5px;
          color: #ffffff;
          margin-left: 10px; }
    .todolist .list-container .sub-layers {
      position: absolute;
      height: 50px;
      background-color: #ffffff;
      border-radius: 5px;
      -moz-box-shadow: 0px 2px 5px 0px #34495e;
      -webkit-box-shadow: 0px 2px 5px 0px #34495e;
      -o-box-shadow: 0px 2px 5px 0px #34495e;
      box-shadow: 0px 2px 5px 0px #34495e;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=180, Strength=5); }
    .todolist .list-container .sub-layer-1 {
      bottom: -4px;
      left: 3px;
      right: 3px;
      z-index: 1; }
    .todolist .list-container .sub-layer-2 {
      bottom: -8px;
      left: 6px;
      right: 6px; }
