* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

.flex {
  display: flex; }

.row {
  flex-direction: row; }

.column {
  flex-direction: column; }

.around {
  justify-content: space-around; }

.between {
  justify-content: space-between; }

.center {
  justify-content: center; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.pointer {
  cursor: pointer; }

.container {
  min-height: 100vh; }

body {
  overflow: hidden; }

.navigation, .todolist {
  padding: 30px;
  border: 0px solid red; }

.container {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: .5s; }

.todolist {
  width: 50%;
  height: 100vh;
  z-index: 999; }
  .todolist .list-container {
    margin: auto;
    width: 65%;
    max-height: 90vh;
    position: relative; }
    .todolist .list-container .list {
      background-color: #ffffff;
      border-radius: 5px;
      position: relative;
      height: 100%;
      z-index: 2;
      -moz-box-shadow: 0px 2px 5px 0px #34495e;
      -webkit-box-shadow: 0px 2px 5px 0px #34495e;
      -o-box-shadow: 0px 2px 5px 0px #34495e;
      box-shadow: 0px 2px 5px 0px #34495e;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=180, Strength=5);
      padding: 20px; }
      .todolist .list-container .list h2 {
        font-family: Montserrat, arial, sans-serif;
        text-align: center;
        padding: 0 0 10px 0;
        color: #34495e;
        font-size: 2em;
        font-weight: 600; }
      .todolist .list-container .list p {
        text-align: center;
        font-size: .9em;
        font-family: Montserrat, arial, sans-serif;
        color: #34495e; }
      .todolist .list-container .list .filter-container {
        font-family: Montserrat, arial, sans-serif;
        padding: 20px 10px 15px 10px;
        font-size: .8em; }
        .todolist .list-container .list .filter-container li {
          padding: 5px 10px; }
        .todolist .list-container .list .filter-container .filter-active {
          border: 1px solid #34495e;
          border-radius: 5px; }
      .todolist .list-container .list .add-task-container {
        margin-top: 20px; }
        .todolist .list-container .list .add-task-container input {
          border: 0;
          height: 40px; }
        .todolist .list-container .list .add-task-container input:nth-child(1) {
          font-size: 1.3em;
          flex: 1;
          color: #34495e; }
        .todolist .list-container .list .add-task-container ::placeholder {
          color: #34495e;
          opacity: .6; }
        .todolist .list-container .list .add-task-container :-ms-input-placeholder {
          color: #34495e;
          opacity: .6; }
        .todolist .list-container .list .add-task-container ::-ms-input-placeholder {
          color: #34495e;
          opacity: .6; }
        .todolist .list-container .list .add-task-container input:nth-child(2) {
          font-size: 1em;
          background-color: #34495e;
          padding: 0 20px;
          border-radius: 5px;
          color: #ffffff;
          margin-left: 10px; }
    .todolist .list-container .sub-layers {
      position: absolute;
      height: 50px;
      background-color: #ffffff;
      border-radius: 5px;
      -moz-box-shadow: 0px 2px 5px 0px #34495e;
      -webkit-box-shadow: 0px 2px 5px 0px #34495e;
      -o-box-shadow: 0px 2px 5px 0px #34495e;
      box-shadow: 0px 2px 5px 0px #34495e;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=180, Strength=5); }
    .todolist .list-container .sub-layer-1 {
      bottom: -4px;
      left: 3px;
      right: 3px;
      z-index: 1; }
    .todolist .list-container .sub-layer-2 {
      bottom: -8px;
      left: 6px;
      right: 6px; }

.navigation {
  width: 50%;
  height: 100vh;
  color: #ffffff;
  font-family: Montserrat, arial, sans-serif; }
  .navigation h1 {
    font-size: 4em; }
  .navigation .user-infos {
    text-align: center;
    font-weight: 300; }
  .navigation nav {
    border: 0px solid black;
    padding: 10px 0; }
    .navigation nav ul li {
      margin: 15px 0;
      font-size: 1.2em;
      font-weight: 300; }

.list-item li {
  min-height: 60px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #f4f5f8; }
  .list-item li p {
    flex: 1;
    text-align: left !important;
    margin: auto;
    line-height: 1.5em;
    font-family: Montserrat, arial, sans-serif; }
  .list-item li .fishedtask {
    text-decoration: line-through; }
  .list-item li button {
    width: 15px;
    height: 15px;
    margin: auto 4px;
    border: 2px solid;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: .1s; }
  .list-item li .valide-task-button {
    border-color: #81c957; }
  .list-item li .delete-task-button {
    border-color: #ca5746; }
  .list-item li:hover button {
    opacity: 1;
    transition: .1s; }

.list-item li:nth-child(1) {
  border-top: 1px solid #f4f5f8; }
